.red.shade-50 {
  background-color: #ffebee !important; }

.red-text.text-shade-50 {
  color: #ffebee !important; }

.red.shade-100 {
  background-color: #ffcdd2 !important; }

.red-text.text-shade-100 {
  color: #ffcdd2 !important; }

.red.shade-200 {
  background-color: #ef9a9a !important; }

.red-text.text-shade-200 {
  color: #ef9a9a !important; }

.red.shade-300 {
  background-color: #e57373 !important; }

.red-text.text-shade-300 {
  color: #e57373 !important; }

.red.shade-400 {
  background-color: #ef5350 !important; }

.red-text.text-shade-400 {
  color: #ef5350 !important; }

.red {
  background-color: #f44336 !important; }

.red-text {
  color: #f44336 !important; }

.red.shade-600 {
  background-color: #e53935 !important; }

.red-text.text-shade-600 {
  color: #e53935 !important; }

.red.shade-700 {
  background-color: #d32f2f !important; }

.red-text.text-shade-700 {
  color: #d32f2f !important; }

.red.shade-800 {
  background-color: #c62828 !important; }

.red-text.text-shade-800 {
  color: #c62828 !important; }

.red.shade-900 {
  background-color: #b71c1c !important; }

.red-text.text-shade-900 {
  color: #b71c1c !important; }

.red.shade-a100 {
  background-color: #ff8a80 !important; }

.red-text.text-shade-a100 {
  color: #ff8a80 !important; }

.red.shade-a200 {
  background-color: #ff5252 !important; }

.red-text.text-shade-a200 {
  color: #ff5252 !important; }

.red.shade-a400 {
  background-color: #ff1744 !important; }

.red-text.text-shade-a400 {
  color: #ff1744 !important; }

.red.shade-a700 {
  background-color: #d50000 !important; }

.red-text.text-shade-a700 {
  color: #d50000 !important; }

.pink.shade-50 {
  background-color: #fce4ec !important; }

.pink-text.text-shade-50 {
  color: #fce4ec !important; }

.pink.shade-100 {
  background-color: #f8bbd0 !important; }

.pink-text.text-shade-100 {
  color: #f8bbd0 !important; }

.pink.shade-200 {
  background-color: #f48fb1 !important; }

.pink-text.text-shade-200 {
  color: #f48fb1 !important; }

.pink.shade-300 {
  background-color: #f06292 !important; }

.pink-text.text-shade-300 {
  color: #f06292 !important; }

.pink.shade-400 {
  background-color: #ec407a !important; }

.pink-text.text-shade-400 {
  color: #ec407a !important; }

.pink {
  background-color: #e91e63 !important; }

.pink-text {
  color: #e91e63 !important; }

.pink.shade-600 {
  background-color: #d81b60 !important; }

.pink-text.text-shade-600 {
  color: #d81b60 !important; }

.pink.shade-700 {
  background-color: #c2185b !important; }

.pink-text.text-shade-700 {
  color: #c2185b !important; }

.pink.shade-800 {
  background-color: #ad1457 !important; }

.pink-text.text-shade-800 {
  color: #ad1457 !important; }

.pink.shade-900 {
  background-color: #880e4f !important; }

.pink-text.text-shade-900 {
  color: #880e4f !important; }

.pink.shade-a100 {
  background-color: #ff80ab !important; }

.pink-text.text-shade-a100 {
  color: #ff80ab !important; }

.pink.shade-a200 {
  background-color: #ff4081 !important; }

.pink-text.text-shade-a200 {
  color: #ff4081 !important; }

.pink.shade-a400 {
  background-color: #f50057 !important; }

.pink-text.text-shade-a400 {
  color: #f50057 !important; }

.pink.shade-a700 {
  background-color: #c51162 !important; }

.pink-text.text-shade-a700 {
  color: #c51162 !important; }

.purple.shade-50 {
  background-color: #f3e5f5 !important; }

.purple-text.text-shade-50 {
  color: #f3e5f5 !important; }

.purple.shade-100 {
  background-color: #e1bee7 !important; }

.purple-text.text-shade-100 {
  color: #e1bee7 !important; }

.purple.shade-200 {
  background-color: #ce93d8 !important; }

.purple-text.text-shade-200 {
  color: #ce93d8 !important; }

.purple.shade-300 {
  background-color: #ba68c8 !important; }

.purple-text.text-shade-300 {
  color: #ba68c8 !important; }

.purple.shade-400 {
  background-color: #ab47bc !important; }

.purple-text.text-shade-400 {
  color: #ab47bc !important; }

.purple {
  background-color: #9c27b0 !important; }

.purple-text {
  color: #9c27b0 !important; }

.purple.shade-600 {
  background-color: #8e24aa !important; }

.purple-text.text-shade-600 {
  color: #8e24aa !important; }

.purple.shade-700 {
  background-color: #7b1fa2 !important; }

.purple-text.text-shade-700 {
  color: #7b1fa2 !important; }

.purple.shade-800 {
  background-color: #6a1b9a !important; }

.purple-text.text-shade-800 {
  color: #6a1b9a !important; }

.purple.shade-900 {
  background-color: #4a148c !important; }

.purple-text.text-shade-900 {
  color: #4a148c !important; }

.purple.shade-a100 {
  background-color: #ea80fc !important; }

.purple-text.text-shade-a100 {
  color: #ea80fc !important; }

.purple.shade-a200 {
  background-color: #e040fb !important; }

.purple-text.text-shade-a200 {
  color: #e040fb !important; }

.purple.shade-a400 {
  background-color: #d500f9 !important; }

.purple-text.text-shade-a400 {
  color: #d500f9 !important; }

.purple.shade-a700 {
  background-color: #aa00ff !important; }

.purple-text.text-shade-a700 {
  color: #aa00ff !important; }

.deep-purple.shade-50 {
  background-color: #ede7f6 !important; }

.deep-purple-text.text-shade-50 {
  color: #ede7f6 !important; }

.deep-purple.shade-100 {
  background-color: #d1c4e9 !important; }

.deep-purple-text.text-shade-100 {
  color: #d1c4e9 !important; }

.deep-purple.shade-200 {
  background-color: #b39ddb !important; }

.deep-purple-text.text-shade-200 {
  color: #b39ddb !important; }

.deep-purple.shade-300 {
  background-color: #9575cd !important; }

.deep-purple-text.text-shade-300 {
  color: #9575cd !important; }

.deep-purple.shade-400 {
  background-color: #7e57c2 !important; }

.deep-purple-text.text-shade-400 {
  color: #7e57c2 !important; }

.deep-purple {
  background-color: #673ab7 !important; }

.deep-purple-text {
  color: #673ab7 !important; }

.deep-purple.shade-600 {
  background-color: #5e35b1 !important; }

.deep-purple-text.text-shade-600 {
  color: #5e35b1 !important; }

.deep-purple.shade-700 {
  background-color: #512da8 !important; }

.deep-purple-text.text-shade-700 {
  color: #512da8 !important; }

.deep-purple.shade-800 {
  background-color: #4527a0 !important; }

.deep-purple-text.text-shade-800 {
  color: #4527a0 !important; }

.deep-purple.shade-900 {
  background-color: #311b92 !important; }

.deep-purple-text.text-shade-900 {
  color: #311b92 !important; }

.deep-purple.shade-a100 {
  background-color: #b388ff !important; }

.deep-purple-text.text-shade-a100 {
  color: #b388ff !important; }

.deep-purple.shade-a200 {
  background-color: #7c4dff !important; }

.deep-purple-text.text-shade-a200 {
  color: #7c4dff !important; }

.deep-purple.shade-a400 {
  background-color: #651fff !important; }

.deep-purple-text.text-shade-a400 {
  color: #651fff !important; }

.deep-purple.shade-a700 {
  background-color: #6200ea !important; }

.deep-purple-text.text-shade-a700 {
  color: #6200ea !important; }

.indigo.shade-50 {
  background-color: #e8eaf6 !important; }

.indigo-text.text-shade-50 {
  color: #e8eaf6 !important; }

.indigo.shade-100 {
  background-color: #c5cae9 !important; }

.indigo-text.text-shade-100 {
  color: #c5cae9 !important; }

.indigo.shade-200 {
  background-color: #9fa8da !important; }

.indigo-text.text-shade-200 {
  color: #9fa8da !important; }

.indigo.shade-300 {
  background-color: #7986cb !important; }

.indigo-text.text-shade-300 {
  color: #7986cb !important; }

.indigo.shade-400 {
  background-color: #5c6bc0 !important; }

.indigo-text.text-shade-400 {
  color: #5c6bc0 !important; }

.indigo {
  background-color: #3f51b5 !important; }

.indigo-text {
  color: #3f51b5 !important; }

.indigo.shade-600 {
  background-color: #3949ab !important; }

.indigo-text.text-shade-600 {
  color: #3949ab !important; }

.indigo.shade-700 {
  background-color: #303f9f !important; }

.indigo-text.text-shade-700 {
  color: #303f9f !important; }

.indigo.shade-800 {
  background-color: #283593 !important; }

.indigo-text.text-shade-800 {
  color: #283593 !important; }

.indigo.shade-900 {
  background-color: #1a237e !important; }

.indigo-text.text-shade-900 {
  color: #1a237e !important; }

.indigo.shade-a100 {
  background-color: #8c9eff !important; }

.indigo-text.text-shade-a100 {
  color: #8c9eff !important; }

.indigo.shade-a200 {
  background-color: #536dfe !important; }

.indigo-text.text-shade-a200 {
  color: #536dfe !important; }

.indigo.shade-a400 {
  background-color: #3d5afe !important; }

.indigo-text.text-shade-a400 {
  color: #3d5afe !important; }

.indigo.shade-a700 {
  background-color: #304ffe !important; }

.indigo-text.text-shade-a700 {
  color: #304ffe !important; }

.blue.shade-50 {
  background-color: #e3f2fd !important; }

.blue-text.text-shade-50 {
  color: #e3f2fd !important; }

.blue.shade-100 {
  background-color: #bbdefb !important; }

.blue-text.text-shade-100 {
  color: #bbdefb !important; }

.blue.shade-200 {
  background-color: #90caf9 !important; }

.blue-text.text-shade-200 {
  color: #90caf9 !important; }

.blue.shade-300 {
  background-color: #64b5f6 !important; }

.blue-text.text-shade-300 {
  color: #64b5f6 !important; }

.blue.shade-400 {
  background-color: #42a5f5 !important; }

.blue-text.text-shade-400 {
  color: #42a5f5 !important; }

.blue {
  background-color: #2196f3 !important; }

.blue-text {
  color: #2196f3 !important; }

.blue.shade-600 {
  background-color: #1e88e5 !important; }

.blue-text.text-shade-600 {
  color: #1e88e5 !important; }

.blue.shade-700 {
  background-color: #1976d2 !important; }

.blue-text.text-shade-700 {
  color: #1976d2 !important; }

.blue.shade-800 {
  background-color: #1565c0 !important; }

.blue-text.text-shade-800 {
  color: #1565c0 !important; }

.blue.shade-900 {
  background-color: #0d47a1 !important; }

.blue-text.text-shade-900 {
  color: #0d47a1 !important; }

.blue.shade-a100 {
  background-color: #82b1ff !important; }

.blue-text.text-shade-a100 {
  color: #82b1ff !important; }

.blue.shade-a200 {
  background-color: #448aff !important; }

.blue-text.text-shade-a200 {
  color: #448aff !important; }

.blue.shade-a400 {
  background-color: #2979ff !important; }

.blue-text.text-shade-a400 {
  color: #2979ff !important; }

.blue.shade-a700 {
  background-color: #2962ff !important; }

.blue-text.text-shade-a700 {
  color: #2962ff !important; }

.light-blue.shade-50 {
  background-color: #e1f5fe !important; }

.light-blue-text.text-shade-50 {
  color: #e1f5fe !important; }

.light-blue.shade-100 {
  background-color: #b3e5fc !important; }

.light-blue-text.text-shade-100 {
  color: #b3e5fc !important; }

.light-blue.shade-200 {
  background-color: #81d4fa !important; }

.light-blue-text.text-shade-200 {
  color: #81d4fa !important; }

.light-blue.shade-300 {
  background-color: #4fc3f7 !important; }

.light-blue-text.text-shade-300 {
  color: #4fc3f7 !important; }

.light-blue.shade-400 {
  background-color: #29b6f6 !important; }

.light-blue-text.text-shade-400 {
  color: #29b6f6 !important; }

.light-blue {
  background-color: #03a9f4 !important; }

.light-blue-text {
  color: #03a9f4 !important; }

.light-blue.shade-600 {
  background-color: #039be5 !important; }

.light-blue-text.text-shade-600 {
  color: #039be5 !important; }

.light-blue.shade-700 {
  background-color: #0288d1 !important; }

.light-blue-text.text-shade-700 {
  color: #0288d1 !important; }

.light-blue.shade-800 {
  background-color: #0277bd !important; }

.light-blue-text.text-shade-800 {
  color: #0277bd !important; }

.light-blue.shade-900 {
  background-color: #01579b !important; }

.light-blue-text.text-shade-900 {
  color: #01579b !important; }

.light-blue.shade-a100 {
  background-color: #80d8ff !important; }

.light-blue-text.text-shade-a100 {
  color: #80d8ff !important; }

.light-blue.shade-a200 {
  background-color: #40c4ff !important; }

.light-blue-text.text-shade-a200 {
  color: #40c4ff !important; }

.light-blue.shade-a400 {
  background-color: #00b0ff !important; }

.light-blue-text.text-shade-a400 {
  color: #00b0ff !important; }

.light-blue.shade-a700 {
  background-color: #0091ea !important; }

.light-blue-text.text-shade-a700 {
  color: #0091ea !important; }

.cyan.shade-50 {
  background-color: #e0f7fa !important; }

.cyan-text.text-shade-50 {
  color: #e0f7fa !important; }

.cyan.shade-100 {
  background-color: #b2ebf2 !important; }

.cyan-text.text-shade-100 {
  color: #b2ebf2 !important; }

.cyan.shade-200 {
  background-color: #80deea !important; }

.cyan-text.text-shade-200 {
  color: #80deea !important; }

.cyan.shade-300 {
  background-color: #4dd0e1 !important; }

.cyan-text.text-shade-300 {
  color: #4dd0e1 !important; }

.cyan.shade-400 {
  background-color: #26c6da !important; }

.cyan-text.text-shade-400 {
  color: #26c6da !important; }

.cyan {
  background-color: #00bcd4 !important; }

.cyan-text {
  color: #00bcd4 !important; }

.cyan.shade-600 {
  background-color: #00acc1 !important; }

.cyan-text.text-shade-600 {
  color: #00acc1 !important; }

.cyan.shade-700 {
  background-color: #0097a7 !important; }

.cyan-text.text-shade-700 {
  color: #0097a7 !important; }

.cyan.shade-800 {
  background-color: #00838f !important; }

.cyan-text.text-shade-800 {
  color: #00838f !important; }

.cyan.shade-900 {
  background-color: #006064 !important; }

.cyan-text.text-shade-900 {
  color: #006064 !important; }

.cyan.shade-a100 {
  background-color: #84ffff !important; }

.cyan-text.text-shade-a100 {
  color: #84ffff !important; }

.cyan.shade-a200 {
  background-color: #18ffff !important; }

.cyan-text.text-shade-a200 {
  color: #18ffff !important; }

.cyan.shade-a400 {
  background-color: #00e5ff !important; }

.cyan-text.text-shade-a400 {
  color: #00e5ff !important; }

.cyan.shade-a700 {
  background-color: #00b8d4 !important; }

.cyan-text.text-shade-a700 {
  color: #00b8d4 !important; }

.teal.shade-50 {
  background-color: #e0f2f1 !important; }

.teal-text.text-shade-50 {
  color: #e0f2f1 !important; }

.teal.shade-100 {
  background-color: #b2dfdb !important; }

.teal-text.text-shade-100 {
  color: #b2dfdb !important; }

.teal.shade-200 {
  background-color: #80cbc4 !important; }

.teal-text.text-shade-200 {
  color: #80cbc4 !important; }

.teal.shade-300 {
  background-color: #4db6ac !important; }

.teal-text.text-shade-300 {
  color: #4db6ac !important; }

.teal.shade-400 {
  background-color: #26a69a !important; }

.teal-text.text-shade-400 {
  color: #26a69a !important; }

.teal {
  background-color: #009688 !important; }

.teal-text {
  color: #009688 !important; }

.teal.shade-600 {
  background-color: #00897b !important; }

.teal-text.text-shade-600 {
  color: #00897b !important; }

.teal.shade-700 {
  background-color: #00796b !important; }

.teal-text.text-shade-700 {
  color: #00796b !important; }

.teal.shade-800 {
  background-color: #00695c !important; }

.teal-text.text-shade-800 {
  color: #00695c !important; }

.teal.shade-900 {
  background-color: #004d40 !important; }

.teal-text.text-shade-900 {
  color: #004d40 !important; }

.teal.shade-a100 {
  background-color: #a7ffeb !important; }

.teal-text.text-shade-a100 {
  color: #a7ffeb !important; }

.teal.shade-a200 {
  background-color: #64ffda !important; }

.teal-text.text-shade-a200 {
  color: #64ffda !important; }

.teal.shade-a400 {
  background-color: #1de9b6 !important; }

.teal-text.text-shade-a400 {
  color: #1de9b6 !important; }

.teal.shade-a700 {
  background-color: #00bfa5 !important; }

.teal-text.text-shade-a700 {
  color: #00bfa5 !important; }

.green.shade-50 {
  background-color: #e8f5e9 !important; }

.green-text.text-shade-50 {
  color: #e8f5e9 !important; }

.green.shade-100 {
  background-color: #c8e6c9 !important; }

.green-text.text-shade-100 {
  color: #c8e6c9 !important; }

.green.shade-200 {
  background-color: #a5d6a7 !important; }

.green-text.text-shade-200 {
  color: #a5d6a7 !important; }

.green.shade-300 {
  background-color: #81c784 !important; }

.green-text.text-shade-300 {
  color: #81c784 !important; }

.green.shade-400 {
  background-color: #66bb6a !important; }

.green-text.text-shade-400 {
  color: #66bb6a !important; }

.green {
  background-color: #4caf50 !important; }

.green-text {
  color: #4caf50 !important; }

.green.shade-600 {
  background-color: #43a047 !important; }

.green-text.text-shade-600 {
  color: #43a047 !important; }

.green.shade-700 {
  background-color: #388e3c !important; }

.green-text.text-shade-700 {
  color: #388e3c !important; }

.green.shade-800 {
  background-color: #2e7d32 !important; }

.green-text.text-shade-800 {
  color: #2e7d32 !important; }

.green.shade-900 {
  background-color: #1b5e20 !important; }

.green-text.text-shade-900 {
  color: #1b5e20 !important; }

.green.shade-a100 {
  background-color: #b9f6ca !important; }

.green-text.text-shade-a100 {
  color: #b9f6ca !important; }

.green.shade-a200 {
  background-color: #69f0ae !important; }

.green-text.text-shade-a200 {
  color: #69f0ae !important; }

.green.shade-a400 {
  background-color: #00e676 !important; }

.green-text.text-shade-a400 {
  color: #00e676 !important; }

.green.shade-a700 {
  background-color: #00c853 !important; }

.green-text.text-shade-a700 {
  color: #00c853 !important; }

.light-green.shade-50 {
  background-color: #f1f8e9 !important; }

.light-green-text.text-shade-50 {
  color: #f1f8e9 !important; }

.light-green.shade-100 {
  background-color: #dcedc8 !important; }

.light-green-text.text-shade-100 {
  color: #dcedc8 !important; }

.light-green.shade-200 {
  background-color: #c5e1a5 !important; }

.light-green-text.text-shade-200 {
  color: #c5e1a5 !important; }

.light-green.shade-300 {
  background-color: #aed581 !important; }

.light-green-text.text-shade-300 {
  color: #aed581 !important; }

.light-green.shade-400 {
  background-color: #9ccc65 !important; }

.light-green-text.text-shade-400 {
  color: #9ccc65 !important; }

.light-green {
  background-color: #8bc34a !important; }

.light-green-text {
  color: #8bc34a !important; }

.light-green.shade-600 {
  background-color: #7cb342 !important; }

.light-green-text.text-shade-600 {
  color: #7cb342 !important; }

.light-green.shade-700 {
  background-color: #689f38 !important; }

.light-green-text.text-shade-700 {
  color: #689f38 !important; }

.light-green.shade-800 {
  background-color: #558b2f !important; }

.light-green-text.text-shade-800 {
  color: #558b2f !important; }

.light-green.shade-900 {
  background-color: #33691e !important; }

.light-green-text.text-shade-900 {
  color: #33691e !important; }

.light-green.shade-a100 {
  background-color: #ccff90 !important; }

.light-green-text.text-shade-a100 {
  color: #ccff90 !important; }

.light-green.shade-a200 {
  background-color: #b2ff59 !important; }

.light-green-text.text-shade-a200 {
  color: #b2ff59 !important; }

.light-green.shade-a400 {
  background-color: #76ff03 !important; }

.light-green-text.text-shade-a400 {
  color: #76ff03 !important; }

.light-green.shade-a700 {
  background-color: #64dd17 !important; }

.light-green-text.text-shade-a700 {
  color: #64dd17 !important; }

.lime.shade-50 {
  background-color: #f9fbe7 !important; }

.lime-text.text-shade-50 {
  color: #f9fbe7 !important; }

.lime.shade-100 {
  background-color: #f0f4c3 !important; }

.lime-text.text-shade-100 {
  color: #f0f4c3 !important; }

.lime.shade-200 {
  background-color: #e6ee9c !important; }

.lime-text.text-shade-200 {
  color: #e6ee9c !important; }

.lime.shade-300 {
  background-color: #dce775 !important; }

.lime-text.text-shade-300 {
  color: #dce775 !important; }

.lime.shade-400 {
  background-color: #d4e157 !important; }

.lime-text.text-shade-400 {
  color: #d4e157 !important; }

.lime {
  background-color: #cddc39 !important; }

.lime-text {
  color: #cddc39 !important; }

.lime.shade-600 {
  background-color: #c0ca33 !important; }

.lime-text.text-shade-600 {
  color: #c0ca33 !important; }

.lime.shade-700 {
  background-color: #afb42b !important; }

.lime-text.text-shade-700 {
  color: #afb42b !important; }

.lime.shade-800 {
  background-color: #9e9d24 !important; }

.lime-text.text-shade-800 {
  color: #9e9d24 !important; }

.lime.shade-900 {
  background-color: #827717 !important; }

.lime-text.text-shade-900 {
  color: #827717 !important; }

.lime.shade-a100 {
  background-color: #f4ff81 !important; }

.lime-text.text-shade-a100 {
  color: #f4ff81 !important; }

.lime.shade-a200 {
  background-color: #eeff41 !important; }

.lime-text.text-shade-a200 {
  color: #eeff41 !important; }

.lime.shade-a400 {
  background-color: #c6ff00 !important; }

.lime-text.text-shade-a400 {
  color: #c6ff00 !important; }

.lime.shade-a700 {
  background-color: #aeea00 !important; }

.lime-text.text-shade-a700 {
  color: #aeea00 !important; }

.yellow.shade-50 {
  background-color: #fffde7 !important; }

.yellow-text.text-shade-50 {
  color: #fffde7 !important; }

.yellow.shade-100 {
  background-color: #fff9c4 !important; }

.yellow-text.text-shade-100 {
  color: #fff9c4 !important; }

.yellow.shade-200 {
  background-color: #fff59d !important; }

.yellow-text.text-shade-200 {
  color: #fff59d !important; }

.yellow.shade-300 {
  background-color: #fff176 !important; }

.yellow-text.text-shade-300 {
  color: #fff176 !important; }

.yellow.shade-400 {
  background-color: #ffee58 !important; }

.yellow-text.text-shade-400 {
  color: #ffee58 !important; }

.yellow {
  background-color: #ffeb3b !important; }

.yellow-text {
  color: #ffeb3b !important; }

.yellow.shade-600 {
  background-color: #fdd835 !important; }

.yellow-text.text-shade-600 {
  color: #fdd835 !important; }

.yellow.shade-700 {
  background-color: #fbc02d !important; }

.yellow-text.text-shade-700 {
  color: #fbc02d !important; }

.yellow.shade-800 {
  background-color: #f9a825 !important; }

.yellow-text.text-shade-800 {
  color: #f9a825 !important; }

.yellow.shade-900 {
  background-color: #f57f17 !important; }

.yellow-text.text-shade-900 {
  color: #f57f17 !important; }

.yellow.shade-a100 {
  background-color: #ffff8d !important; }

.yellow-text.text-shade-a100 {
  color: #ffff8d !important; }

.yellow.shade-a200 {
  background-color: #ffff00 !important; }

.yellow-text.text-shade-a200 {
  color: #ffff00 !important; }

.yellow.shade-a400 {
  background-color: #ffea00 !important; }

.yellow-text.text-shade-a400 {
  color: #ffea00 !important; }

.yellow.shade-a700 {
  background-color: #ffd600 !important; }

.yellow-text.text-shade-a700 {
  color: #ffd600 !important; }

.amber.shade-50 {
  background-color: #fff8e1 !important; }

.amber-text.text-shade-50 {
  color: #fff8e1 !important; }

.amber.shade-100 {
  background-color: #ffecb3 !important; }

.amber-text.text-shade-100 {
  color: #ffecb3 !important; }

.amber.shade-200 {
  background-color: #ffe082 !important; }

.amber-text.text-shade-200 {
  color: #ffe082 !important; }

.amber.shade-300 {
  background-color: #ffd54f !important; }

.amber-text.text-shade-300 {
  color: #ffd54f !important; }

.amber.shade-400 {
  background-color: #ffca28 !important; }

.amber-text.text-shade-400 {
  color: #ffca28 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.amber.shade-600 {
  background-color: #ffb300 !important; }

.amber-text.text-shade-600 {
  color: #ffb300 !important; }

.amber.shade-700 {
  background-color: #ffa000 !important; }

.amber-text.text-shade-700 {
  color: #ffa000 !important; }

.amber.shade-800 {
  background-color: #ff8f00 !important; }

.amber-text.text-shade-800 {
  color: #ff8f00 !important; }

.amber.shade-900 {
  background-color: #ff6f00 !important; }

.amber-text.text-shade-900 {
  color: #ff6f00 !important; }

.amber.shade-a100 {
  background-color: #ffe57f !important; }

.amber-text.text-shade-a100 {
  color: #ffe57f !important; }

.amber.shade-a200 {
  background-color: #ffd740 !important; }

.amber-text.text-shade-a200 {
  color: #ffd740 !important; }

.amber.shade-a400 {
  background-color: #ffc400 !important; }

.amber-text.text-shade-a400 {
  color: #ffc400 !important; }

.amber.shade-a700 {
  background-color: #ffab00 !important; }

.amber-text.text-shade-a700 {
  color: #ffab00 !important; }

.orange.shade-50 {
  background-color: #fff3e0 !important; }

.orange-text.text-shade-50 {
  color: #fff3e0 !important; }

.orange.shade-100 {
  background-color: #ffe0b2 !important; }

.orange-text.text-shade-100 {
  color: #ffe0b2 !important; }

.orange.shade-200 {
  background-color: #ffcc80 !important; }

.orange-text.text-shade-200 {
  color: #ffcc80 !important; }

.orange.shade-300 {
  background-color: #ffb74d !important; }

.orange-text.text-shade-300 {
  color: #ffb74d !important; }

.orange.shade-400 {
  background-color: #ffa726 !important; }

.orange-text.text-shade-400 {
  color: #ffa726 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.orange.shade-600 {
  background-color: #fb8c00 !important; }

.orange-text.text-shade-600 {
  color: #fb8c00 !important; }

.orange.shade-700 {
  background-color: #f57c00 !important; }

.orange-text.text-shade-700 {
  color: #f57c00 !important; }

.orange.shade-800 {
  background-color: #ef6c00 !important; }

.orange-text.text-shade-800 {
  color: #ef6c00 !important; }

.orange.shade-900 {
  background-color: #e65100 !important; }

.orange-text.text-shade-900 {
  color: #e65100 !important; }

.orange.shade-a100 {
  background-color: #ffd180 !important; }

.orange-text.text-shade-a100 {
  color: #ffd180 !important; }

.orange.shade-a200 {
  background-color: #ffab40 !important; }

.orange-text.text-shade-a200 {
  color: #ffab40 !important; }

.orange.shade-a400 {
  background-color: #ff9100 !important; }

.orange-text.text-shade-a400 {
  color: #ff9100 !important; }

.orange.shade-a700 {
  background-color: #ff6d00 !important; }

.orange-text.text-shade-a700 {
  color: #ff6d00 !important; }

.deep-orange.shade-50 {
  background-color: #fbe9e7 !important; }

.deep-orange-text.text-shade-50 {
  color: #fbe9e7 !important; }

.deep-orange.shade-100 {
  background-color: #ffccbc !important; }

.deep-orange-text.text-shade-100 {
  color: #ffccbc !important; }

.deep-orange.shade-200 {
  background-color: #ffab91 !important; }

.deep-orange-text.text-shade-200 {
  color: #ffab91 !important; }

.deep-orange.shade-300 {
  background-color: #ff8a65 !important; }

.deep-orange-text.text-shade-300 {
  color: #ff8a65 !important; }

.deep-orange.shade-400 {
  background-color: #ff7043 !important; }

.deep-orange-text.text-shade-400 {
  color: #ff7043 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.deep-orange.shade-600 {
  background-color: #f4511e !important; }

.deep-orange-text.text-shade-600 {
  color: #f4511e !important; }

.deep-orange.shade-700 {
  background-color: #e64a19 !important; }

.deep-orange-text.text-shade-700 {
  color: #e64a19 !important; }

.deep-orange.shade-800 {
  background-color: #d84315 !important; }

.deep-orange-text.text-shade-800 {
  color: #d84315 !important; }

.deep-orange.shade-900 {
  background-color: #bf360c !important; }

.deep-orange-text.text-shade-900 {
  color: #bf360c !important; }

.deep-orange.shade-a100 {
  background-color: #ff9e80 !important; }

.deep-orange-text.text-shade-a100 {
  color: #ff9e80 !important; }

.deep-orange.shade-a200 {
  background-color: #ff6e40 !important; }

.deep-orange-text.text-shade-a200 {
  color: #ff6e40 !important; }

.deep-orange.shade-a400 {
  background-color: #ff3d00 !important; }

.deep-orange-text.text-shade-a400 {
  color: #ff3d00 !important; }

.deep-orange.shade-a700 {
  background-color: #dd2c00 !important; }

.deep-orange-text.text-shade-a700 {
  color: #dd2c00 !important; }

.brown.shade-50 {
  background-color: #efebe9 !important; }

.brown-text.text-shade-50 {
  color: #efebe9 !important; }

.brown.shade-100 {
  background-color: #d7ccc8 !important; }

.brown-text.text-shade-100 {
  color: #d7ccc8 !important; }

.brown.shade-200 {
  background-color: #bcaaa4 !important; }

.brown-text.text-shade-200 {
  color: #bcaaa4 !important; }

.brown.shade-300 {
  background-color: #a1887f !important; }

.brown-text.text-shade-300 {
  color: #a1887f !important; }

.brown.shade-400 {
  background-color: #8d6e63 !important; }

.brown-text.text-shade-400 {
  color: #8d6e63 !important; }

.brown {
  background-color: #795548 !important; }

.brown-text {
  color: #795548 !important; }

.brown.shade-600 {
  background-color: #6d4c41 !important; }

.brown-text.text-shade-600 {
  color: #6d4c41 !important; }

.brown.shade-700 {
  background-color: #5d4037 !important; }

.brown-text.text-shade-700 {
  color: #5d4037 !important; }

.brown.shade-800 {
  background-color: #4e342e !important; }

.brown-text.text-shade-800 {
  color: #4e342e !important; }

.brown.shade-900 {
  background-color: #3e2723 !important; }

.brown-text.text-shade-900 {
  color: #3e2723 !important; }

.blue-grey.shade-50 {
  background-color: #eceff1 !important; }

.blue-grey-text.text-shade-50 {
  color: #eceff1 !important; }

.blue-grey.shade-100 {
  background-color: #cfd8dc !important; }

.blue-grey-text.text-shade-100 {
  color: #cfd8dc !important; }

.blue-grey.shade-200 {
  background-color: #b0bec5 !important; }

.blue-grey-text.text-shade-200 {
  color: #b0bec5 !important; }

.blue-grey.shade-300 {
  background-color: #90a4ae !important; }

.blue-grey-text.text-shade-300 {
  color: #90a4ae !important; }

.blue-grey.shade-400 {
  background-color: #78909c !important; }

.blue-grey-text.text-shade-400 {
  color: #78909c !important; }

.blue-grey {
  background-color: #607d8b !important; }

.blue-grey-text {
  color: #607d8b !important; }

.blue-grey.shade-600 {
  background-color: #546e7a !important; }

.blue-grey-text.text-shade-600 {
  color: #546e7a !important; }

.blue-grey.shade-700 {
  background-color: #455a64 !important; }

.blue-grey-text.text-shade-700 {
  color: #455a64 !important; }

.blue-grey.shade-800 {
  background-color: #37474f !important; }

.blue-grey-text.text-shade-800 {
  color: #37474f !important; }

.blue-grey.shade-900 {
  background-color: #263238 !important; }

.blue-grey-text.text-shade-900 {
  color: #263238 !important; }

.grey.shade-50 {
  background-color: #fafafa !important; }

.grey-text.text-shade-50 {
  color: #fafafa !important; }

.grey.shade-100 {
  background-color: #f5f5f5 !important; }

.grey-text.text-shade-100 {
  color: #f5f5f5 !important; }

.grey.shade-200 {
  background-color: #eeeeee !important; }

.grey-text.text-shade-200 {
  color: #eeeeee !important; }

.grey.shade-300 {
  background-color: #e0e0e0 !important; }

.grey-text.text-shade-300 {
  color: #e0e0e0 !important; }

.grey.shade-400 {
  background-color: #bdbdbd !important; }

.grey-text.text-shade-400 {
  color: #bdbdbd !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.grey.shade-600 {
  background-color: #757575 !important; }

.grey-text.text-shade-600 {
  color: #757575 !important; }

.grey.shade-700 {
  background-color: #616161 !important; }

.grey-text.text-shade-700 {
  color: #616161 !important; }

.grey.shade-800 {
  background-color: #424242 !important; }

.grey-text.text-shade-800 {
  color: #424242 !important; }

.grey.shade-900 {
  background-color: #212121 !important; }

.grey-text.text-shade-900 {
  color: #212121 !important; }

.black {
  background-color: #000000 !important; }

.black-text {
  color: #000000 !important; }

.white {
  background-color: #ffffff !important; }

.white-text {
  color: #ffffff !important; }

/*# sourceMappingURL=materialz.css.map */
